<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dm.mapper.DmSchedulerSeatMapper">

    <select id="getDmSchedulerSeatById" resultType="cn.dm.pojo.DmSchedulerSeat">
        select
                id as id,
                x as x,
                y as y,
                areaLevel as areaLevel,
                scheduleId as scheduleId,
                orderNo as orderNo,
                userId as userId,
                status as status,
                sort as sort,
                createdTime as createdTime,
                updatedTime as updatedTime
        from dm_scheduler_seat
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getDmSchedulerSeatListByMap" resultType="cn.dm.pojo.DmSchedulerSeat" parameterType="java.util.Map">
        select
                id as id,
                x as x,
                y as y,
                areaLevel as areaLevel,
                scheduleId as scheduleId,
                orderNo as orderNo,
                userId as userId,
                status as status,
                sort as sort,
                createdTime as createdTime,
                updatedTime as updatedTime
        from dm_scheduler_seat
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="x != null and x!=''">
                    and x=#{x}
                </if>
                <if test="y != null and y!=''">
                    and y=#{y}
                </if>
                <if test="areaLevel != null and areaLevel!=''">
                    and areaLevel=#{areaLevel}
                </if>
                <if test="scheduleId != null and scheduleId!=''">
                    and scheduleId=#{scheduleId}
                </if>
                <if test="orderNo != null and orderNo!=''">
                    and orderNo=#{orderNo}
                </if>
                <if test="userId != null and userId!=''">
                    and userId=#{userId}
                </if>
                <if test="status != null and status!=''">
                    and status=#{status}
                </if>
                <if test="sort != null and sort!=''">
                    and sort=#{sort}
                </if>
                <if test="createdTime != null and createdTime!=''">
                    and createdTime=#{createdTime}
                </if>
                <if test="updatedTime != null and updatedTime!=''">
                    and updatedTime=#{updatedTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getDmSchedulerSeatCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from dm_scheduler_seat
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="x != null and x!=''">
                    and x=#{x}
                </if>
                <if test="y != null and y!=''">
                    and y=#{y}
                </if>
                <if test="areaLevel != null and areaLevel!=''">
                    and areaLevel=#{areaLevel}
                </if>
                <if test="scheduleId != null and scheduleId!=''">
                    and scheduleId=#{scheduleId}
                </if>
                <if test="orderNo != null and orderNo!=''">
                    and orderNo=#{orderNo}
                </if>
                <if test="userId != null and userId!=''">
                    and userId=#{userId}
                </if>
                <if test="status != null and status!=''">
                    and status=#{status}
                </if>
                <if test="sort != null and sort!=''">
                    and sort=#{sort}
                </if>
                <if test="createdTime != null and createdTime!=''">
                    and createdTime=#{createdTime}
                </if>
                <if test="updatedTime != null and updatedTime!=''">
                    and updatedTime=#{updatedTime}
                </if>
        </trim>
    </select>

    <insert id="insertDmSchedulerSeat" parameterType="cn.dm.pojo.DmSchedulerSeat">
        insert into dm_scheduler_seat(
                        x,
                        y,
                        areaLevel,
                        scheduleId,
                        orderNo,
                        userId,
                        status,
                        sort,
                        createdTime,
                        updatedTime)
        values(
                     #{x},
                     #{y},
                     #{areaLevel},
                     #{scheduleId},
                     #{orderNo},
                     #{userId},
                     #{status},
                     #{sort},
                     #{createdTime},
                    #{updatedTime})
    </insert>

    <update id="updateDmSchedulerSeat" parameterType="cn.dm.pojo.DmSchedulerSeat">
        update dm_scheduler_seat
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="x != null and x!=''">
                            x=#{x},
                        </if>
                        <if test="y != null and y!=''">
                            y=#{y},
                        </if>
                        <if test="areaLevel != null and areaLevel!=''">
                            areaLevel=#{areaLevel},
                        </if>
                        <if test="scheduleId != null and scheduleId!=''">
                            scheduleId=#{scheduleId},
                        </if>
                        <if test="orderNo!=''">
                            orderNo=#{orderNo},
                        </if>
                        <if test="userId!=''">
                            userId=#{userId},
                        </if>
                        <if test="status != null and status!=''">
                            status=#{status},
                        </if>
                        <if test="sort != null and sort!=''">
                            sort=#{sort},
                        </if>
                        <if test="createdTime != null">
                            createdTime=#{createdTime},
                        </if>
                        <if test="updatedTime != null">
                            updatedTime=#{updatedTime}
                        </if>
        </trim>
    </update>

    <select id="getDmSchedulerSeatByOrder" resultType="cn.dm.pojo.DmSchedulerSeat">
        select
        id as id,
        x as x,
        y as y,
        areaLevel as areaLevel,
        scheduleId as scheduleId,
        orderNo as orderNo,
        userId as userId,
        status as status,
        sort as sort,
        createdTime as createdTime,
        updatedTime as updatedTime
        from dm_scheduler_seat
        <trim prefix="where" prefixOverrides="and | or">
            <if test="scheduleId != null">
                and scheduleId=#{scheduleId}
            </if>
            <if test="x != null">
                and x=#{x}
            </if>
            <if test="y != null">
                and y=#{y}
            </if>
        </trim>
    </select>
</mapper>